.headingCart {
  font-size: 25px;
  margin-bottom: 5px;
}
.cartList li {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  padding: 10px;
}
.cartList li img {
  margin-top: 0px;
  width: 50px;
}
.cartList button {
  margin-left: auto;
  margin-right: 10px;
}

.cartList li h4 {
  padding-top: 10px;
  font-size: 22px;
}
.cartList p {
  font-size: 18px;
}

.bloc_input label {
  margin-right: 10px;
  font-size: 20px;
}
.cartList input {
  padding: 5px;
  width: 75px;
  font-size: 18px;
}
.btn_cart {
  display: block;
  padding: 10px 12px;
  font-size: 18px;
  margin: 20px auto 0;
}
.bloc_cart_infos p {
  margin-bottom: 0px;
}
.total_price {
  margin-top: 10px;
  font-size: 20px;
}
